
/* sub_visual */
.sub_visualwrap {
    width: 100%;
    height: 200px;

    .sub_visual {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        &.subidx0 {
            background: #777;
        }

        .container {
          flex: 0 0 100%;
            text-align: center;
            color: #fff;
        }
        .visual_tbox {
        }
    }
}
/* sub_contents */
.sub_contentswrap {
    width: 100%;

    .scflex {
        height: 100%;
        @include flexr;

        .lnb {
            flex: 0 0 20%;
            position: relative;
            top: -200px;
            @include maxWidth(768px) {
              display: none;
            }

            .subidx_tit {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 20%;
                width: 100%;
                height: 200px;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
            }
        }
        .cont_box {
            flex: 0 0 80%;
            @include maxWidth(768px) {
              flex-basis: 100%;
            }
        }
    }
}

/* surveybox */
.survey_box {
  .radio_box {
    display: flex;
    flex-wrap: nowrap;

    span {


    }
  }

  .input_box {
    display: flex;
    flex-wrap: nowrap;

    label {
      width: 100%;
    }
    input {
      border: 1px solid #777;
      border-right: none;
      &:focus {
        outline: none;
      }
    }
    button {
      flex: 0 0 100px;
    }
  }
}
