@mixin ui() {
  max-width: 400px;
  background-color: #fff;
  margin: 5px 0;
}

.toggle {
  +label {
    cursor: pointer;
    display: inline-block;
    width: 70px;
    line-height: 35px;
    border-radius: 35px;
    border: 1px solid #ccc;
    position: relative;
    text-align: right;
    padding: 0 12px;

    span {
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border-radius: 30px;
      transition: 0.3s;
      background-color: #ccc;
    }

    &:after {
      content: 'off';
    }

  }

  &:checked+label {
    text-align: left;

    span {
      left: calc(100% - 33px);
      transition: 0.3s;
      background-color: #555;
    }

    &:before {
      content: 'on';
    }

    &:after {
      content: none;
    }
  }

}

/* 셀렉트 */
.pro_box {
  .dropdown {
    max-width: 450px;
    position: relative;
    display: inline-block;
    z-index: 1;

    .btn {
      position: relative;
      width: 100%;
      border: 1px solid #999;
      border-radius: 42px;
      height: 30px;
      padding: 0 40px 0 20px;
      text-align: left;
      background: #fff url(../images/tit_dropdown_btn_down.png) no-repeat right 20px center;
      z-index: 1;
      font-size: 14px;

      &.active {
        background-image: url(../images/tit_dropdown_btn_up.png);
      }
    }

    >ul {
      background-color: #fff;
      padding-top: 10px;
      display: none;
      position: absolute;
      left: 0;
      top: 55%;
      width: 100%;
      max-height: 120px;
      overflow-x: hidden;
      overflow-y: auto;
      border: 1px solid #b1b1b1;
      border-radius: 0 0 5px 5px;
      font-size: 14px;

      li {
        padding: 5px 25px;
        border-bottom: 1px solid #b1b1b1;

        &:last-child {
          border-bottom: none;
        }
      }
    }

  }
}

/*드롭다운 리스트*/
.list_dropdown {
  border-top: 1px solid #444444;

  ol {
    li {
      border-bottom: 1px solid #444444;
      padding: 10px 0;
      font-weight: 500;
    }

  }

  dt,
  dd {
    border-bottom: 1px solid #444;
  }

  dt {
    padding: 35px 0;

    >a {
      display: block;
      width: 100%;
    }

    ul {
      @include clear;
      padding-top: 20px;
      display: block;
      margin-left: 30px;
      clear: both;

      li {
        float: left;
        margin-right: 20px;

        a {
          min-width: 160px;
          background-color: #a4a4a4;
          color: #fff;
          text-align: center;
          height: 35px;
          line-height: 35px;
          border-radius: 30px;
          font-weight: 500;

          >span {
            background-color: #474747;
            height: 20px;
            line-height: 20px;
            width: 60px;
            margin-left: 5px;
            padding: 0 15px;
            border-radius: 15px;
            font-size: 14px;
            font-weight: 400;
            margin-right: -5px;
          }
        }

        &:hover {
          a {
            background-color: #4880ff;

            >span {
              background-color: #264997;
            }
          }
        }
      }
    }

    >div {
      @include clear;

      a {
        float: left;
        font-weight: 500;
      }

      >div {
        float: right;
        width: 350px;

        .pop_wrap {
          display: inline-block;
        }
      }

    }

    .radio {
      float: right;
      padding-top: 0;
      margin-left: 0;
      margin-bottom: 0;
      font-size: 14px;
      clear: none;
    }
  }

  dd {
    display: none;
    padding: 20px 0;
  }
}

.num_bor {
  height: 26px;
  line-height: 26px;
  border: 2px solid #00c6d2;
  border-radius: 7px;
  padding: 0 10px;
  margin-right: 10px;
  height: 34px;
  line-height: 34px;
}

.btn1 {
  background-color: #00c6d2;
  border-radius: 20px;
  color: #fff;
  padding: 5px 25px;
  height: 34px;
  line-height: 34px;
  min-width: 90px;
}

.btn2 {
  min-width: 110px;
  color: #fff;
  height: 34px;
  line-height: 34px;
  background-color: #008ec2;
  border-radius: 7px;
}
.btn3 {
  min-width: 110px;
 background-color: #558dff; 
 color: #fff;
 border-radius: 4px;
 height: 34px;
 line-height: 34px;

}

.bg_gray {
  background-color: #666666;
}

.bg_blue {
  background-color: #008fd2;
}

.ex {
  /* 설명버튼 */
  color: #fff;
  background-color: #777;
  width: 60px;
  height: 20px;
  line-height: 20px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 400;
}

.btn_box {
  margin-top: 30px;
  text-align: center;
  font-size: 0;

  .btn {
    font-family: 'ONE';
    border-radius: 5px;
    margin: 0 20px;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    background-color: #008ec2;
    max-width: 140px;
    font-weight: 600;
    display: block;
    margin: auto;
    letter-spacing: initial;
  }
}

/* 모달팝업 */
.modal_pop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);

  .inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    max-width: 1233px;
    margin: 50px auto;
    background-color: #fff;
    transform: translatey(-50%);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 650px;

    .pop_box {
      width: 100%;
      height: 100%;
    }

    .pop_x {
      position: absolute;
      top: 20px;
      right: 20px;
      content: '';
      background: url(../images/popup_close.png) no-repeat top right;
      display: block;
      width: 19px;
      height: 19px;
    }
  }
}


.yoso {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px;
  flex-grow: 1;
  margin-top: 10px;

  >div {
    min-width: 1250px;
    line-height: 0;
    font-size: 0;
    display: flex;
  }

  .accordion {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;

    li {
      font-size: 16px;
      margin: 5px 0;

      a {
        max-width: 200px;
        min-width: 200px;
        min-height: 70px;
        padding: 10px 35px 10px 10px;
        position: relative;
        line-height: 1.2;
        border: 1px solid #dddddd;

        .num_btn {
          border-radius: 50px;
          background-color: #00c6d2;
          width: 20px;
          height: 20px;
          text-align: center;
          position: absolute;
          line-height: 18px;
          right: 10px;
          top: 50%;
          font-size: 12px;
          transform: translatey(-50%);
        }
      }
    }

    >li {
      width: 100%;
      text-align: left;

      >a {
        background-color: #d5e6ff;
        font-weight: 500;
        height: 70px;
        line-height: 50px
      }

      >ul {
        display: none;
        margin-top: 5px;

        li {
          font-size: 14px;

          a {
            border: 1px solid #dddddd;
            max-width: 200px;

            &.btn {
              &:after {
                content: '+';
                border-radius: 50px;
                background-color: #00c6d2;
                width: 20px;
                height: 20px;
                text-align: center;
                position: absolute;
                line-height: 18px;
                right: 10px;
                top: 10px;
                color: #fff;
                font-weight: 600;
              }

              &.active {
                &:after {
                  content: '-';
                  line-height: 17px;
                }
              }
            }

            .num_btn {
              top: 67%;
            }
          }

          >ul {
            display: none;
            margin-right: 10px;
            margin-left: 80px;
            flex-direction: column;

            li {
              position: relative;

              /* &::before{display: block; content: ''; position: absolute; width: 40px; height: 1px; left: -40px; top: 35px; background-color: #999999;}
                &:last-child{
                  &::after{display: block; content: ''; position: absolute; width: 1px; height: 300px; left: -40px; bottom: 34px; background-color: #999999;}
                } */
              >a {
                border: 1px solid #dddddd;
                padding: 10px;
                max-width: 200px;
                position: relative;
                padding-right: 30px;
                background-color: #dddddd;

                &.btn {
                  &:after {
                    content: '+';
                    border-radius: 50px;
                    background-color: #00c6d2;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    position: absolute;
                    line-height: 18px;
                    right: 10px;
                    top: 10px;
                    color: #fff;
                    font-weight: 600;
                  }

                  &.active {
                    &:after {
                      content: '-';
                      line-height: 17px;
                    }
                  }
                }

                /*  &.active {color:blue;} */
              }

              >ul {
                margin-left: 80px;
                display: none;
                margin-right: 10px;
                flex-direction: column;

                li {
                  position: relative;

                  a {
                    background-color: #374450;
                    color: #fff;
                  }

                  &:hover {
                    a {
                      border: 3px solid #00c6d2;
                    }
                  }
                }
              }
            }

            //&.active{display: block;}
          }
        }
      }
    }
  }
}

/* 요소기술 */
.yoso_detail {
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  position: relative;

  &::before {
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    left: 240px;
    top: 0px;
    background-color: #999;
    z-index: 1;
  }

  >div {
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    font-weight: 600;
    width: 240px;
    border-bottom: 1px solid #dddddd;
  }

  .tab_box2 {
    $tabW: 240px;
    position: relative;

    >li {
      >button {
        height: 40px;
        width: $tabW;
        text-align: left;
        padding: 0 35px;
        font-size: 14px;
        border-bottom: 1px solid #dddddd;
        font-family: 'ONE';
        font-weight: 600;
      }

      >div {
        display: none;
        position: absolute;
        left: $tabW;
        top: 0;
        width:calc(100% - #{$tabW});
        background-color: #fff;
        margin-top: -70px;
        padding-bottom: 70px;

        >div {
          padding: 25px;
          border-bottom: 1px solid #dddddd;

          >span {
            font-size: 12px;
          }
        }

      }

      &.active {
        >button {
          background-color: #00c6d2;
        }

        >div {
          display: block;
        }
      }
    }
  }
}

.dot1 {
  padding-left: 10px;

  li {
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      background-color: #000;
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }
  }
}

.word_link {
  display: inline-block !important;
  font-weight: 600;
  font-family: 'Noto Sans';
  color: blue;
}

.yoso_detailB {
  font-family: 'ONE';
  width: 240px;
  float: left;
  padding-bottom: 180px;

  >ul {
    position: relative;
    left: 0;
    background-color: #fff;

    >li {
      border-bottom: 1px solid #ddd;

      >a {
        display: block;
        padding: 25px 40px 25px 20px;
        position: relative;
        font-weight: 600;

        &.menu_btn {
          &:after {
            content: '+';
            border-radius: 50px;
            background-color: #00c6d2;
            width: 20px;
            height: 20px;
            text-align: center;
            position: absolute;
            line-height: 20px;
            right: 20px;
            top: 50%;
            color: #fff;
            font-weight: 600;
            transform: translatey(-50%);
          }
        }
      }

      &.active {
        >a {
          &.menu_btn {
            &:after {
              content: '-';
            }
          }
        }
      }

      &.selected {
        >a {
          &.menu_btn {
            &:after {
              content: '-';
              border-radius: 50px;
              background-color: #00c6d2;
              width: 20px;
              height: 20px;
              text-align: center;
              position: absolute;
              line-height: 20px;
              right: 20px;
              top: 50%;
              color: #fff;
              font-weight: 600;
              transform: translatey(-50%);
            }
          }
        }

        >ol {
          display: block;
        }
      }

      >ol {
        display: none;
        border-top: 1px solid #dddddd;

        li {
          border-bottom: 1px solid #ddd;
          font-weight: 600;

          a {
            display: inline-block;
            position: relative;
            padding: 20px 30px;
            font-size: 14px;
            word-break: keep-all;
          }

          &.selected,
          &.active,
          &:hover {
            background-color: #00c6d2;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  >.btn2 {
    max-width: 140px;
    margin: 10px auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
  }

  @include minWidth($m720) {
    .lnb {
      >li {
        >a {
          &:hover {
            padding-left: 43px;
            color: #a47e4f;

            &:before {
              width: 10px;
            }

            &.menu_btn {
              &:after {
                background-image: url(../images/common/arrow_lnb_on.png);
              }
            }
          }
        }

        >ol {
          li {
            a:hover {
              color: #000;
              text-decoration: underline;
              text-underline-offset: 0.2em;

              &:before {
                background-color: #000;
              }
            }
          }
        }
      }
    }
  }

  @include maxWidth(1480px) {

    strong,
    .lnb {
      left: 30px;
    }
  }

  @include maxWidth(1080px) {
    width: 100%;

    strong,
    .lnb {
      display: none;
    }
  }
}

.yoso_detailB+div {
  width: calc(100% - 240px);
  float: left;
  border-left: 1px solid #999999;

  >h3 {
    font-size: 22px;
    padding: 20.5px 20px;
    border-bottom: 1px solid #999;
    font-family: 'ONE';
  }

  >div {
    padding: 20px;
    border-bottom: 1px solid #999;
    padding-bottom: 100px;

    h4 {
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: 500;
    }

    p {
      font-family: 'ONE';
    }

    .bo_box {
      border: 2px solid #00c6d2;
      padding: 20px;
    }

    .center {
      display: block;
      margin: auto;
      text-align: center;
      font-family: 'ONE';
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

/* 결과리포트 */
.textboxwrap {
  width: 100%;
  border: 1px solid #cbcbcb;
  padding: 10px;

  .red {
    color: red;
    font-weight: 800;
  }

  .brc {
    font-size: 22px;
    color: blue;
  }

  .rrc {
    font-size: 22px;
    color: red;
  }
}

.fr.width50 {
  width: 50%;
  padding-top: 70px;
}

.textboxwrap {
  width: 100%;
}

/* 로그인 */
.mb_80 {
  margin-bottom: 80px;
}

.btn_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 60px;
}

.btn_rd {
  border-radius: 10px;
  color: #fff;
  width: 140px;
  font-size: 15px;
  padding: 15px 0;
  text-align: center;
  margin-right: 20px;

  &.long {
    width: 190px;
  }

  &.blue {
    background-color: #008ec2;
  }

  &.gray {
    background-color: #999;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.flex2div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: 'one';


  >div {
    text-align: center;
    min-width: 480px;
    height: 540px;
    border: 4px solid #e9e9e9;
    border-radius: 5px;

    &:first-child {
      margin-right: 60px;
    }

    &.mem_log {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 197px;
        height: 366px;
        position: absolute;
        left: -120px;
        bottom: -30px;
        background: url(../images/login_robot.png) no-repeat 0 0;
      }
    }

    .mems_tit {
      font-size: 22px;
      font-weight: 600;
      color: #00435f;
      margin-top: 40px;
      margin-bottom: 45px;
    }
  }

  .mems_form {
    margin-bottom: 90px;

    input {
      margin: 0 auto;
      margin-bottom: 30px;
    }

    input[class="in"] {
      width: 320px;
      height: 50px;
      background-color: #bee3ff;
      border-radius: 25px;
      text-align: center;


    }

    input[type="button"] {
      width: 220px;
      height: 50px;
      background-color: #0064af;
      color: #fff;
      border-radius: 25px;
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  .log_btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    >button {
      width: 140px;
      height: 34px;
      background-color: #99c1df;
      color: #002e50;
      border-radius: 17px;

      &:first-child {
        margin-right: 40px;
      }
    }
  }

  .social_log {

    >ul {
      margin-bottom: 180px;

      >li {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &:last-child>a {
          background-color: #fae300;
          color: #222;
        }

        >a {
          width: 320px;
          height: 50px;
          border-radius: 5px;
          background-color: #00c73c;
          color: #fff;
          margin: 0 auto;

          >div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            background: url(../images/btn_arrow.png) no-repeat 290px center;

            img {
              padding: 0 20px;
            }

          }
        }

      }
    }
  }
}

.agreementswrap {
  font-family: 'one';

  >div {

    .agreement_step {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      >p {
        font-weight: 500;
        margin-bottom: 30px;
        font-size: 21px;
      }

      .step_diag {
        display: flex;
        flex-wrap: nowrap;

        li {
          position: relative;
          width: 21px;
          height: 21px;
          line-height: 19px;
          text-align: center;
          border: 2px solid #bbb;
          border-radius: 50%;
          margin-right: 19px;

          &.on {
            color: #fff;
            border: 2px solid transparent;
            background-color: #0083b9;
          }

          &:last-child {
            margin-right: 0;
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            right: -21px;
            width: 19px;
            height: 1px;
            background-color: #999;
          }

          &:last-child::after {
            display: none;
          }
        }
      }

    }

    form {

      label[for="agree"] {
        font-size: 17px;
      }

      textarea {
        border: 1px solid #aaa;
        padding: 10px;
        margin: 20px 0;
        resize: none;
        overflow: auto;
        height: 320px;
      }

      .agreecheck {
        text-align: right;
        margin-bottom: 60px;

        &.fin {
          text-align: center;
          background-color: #fffad9;
          border-radius: 5px;
          padding: 35px 0;
          font-size: 18px;
        }

        input {
          display: inline-block;
          width: 20px;
          height: 20px;
          padding: 0;
          vertical-align: middle;
          background-size: cover;
          margin-right: 5px;
          margin-top: 1px;
          border: 2px solid #aaa;
          border-radius: 2px;

          &+label {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
          }

          &[type="checkbox"] {
            background-image: url("../images/chk_off.jpg");
          }

          &[type="checkbox"]:checked {
            background-image: url("../images/chk_on.jpg");
          }
        }
      }
    }
  }
}

.certi {
  >div {
    text-align: center;

    .imgwrap {
      min-height: 220px;
    }

    span {
      display: block;
      color: #002e50;
      margin-bottom: 75px;
    }
  }
}

.fc_red {
  color: #ff4c4c;
}

.mb_30 {
  margin-bottom: 30px;
}

.no_bg {
  background-color: #fff !important;
}

button {
  &.emailcert {
    background-color: #649eff;
    width: 160px;
    color: #fff;
    height: 30px;
    padding: 0;
    border-radius: 5px;
  }
}

.info_insert {
  margin-bottom: 40px;

  form {

    table {
      border-collapse: collapse;
      border: none;
      border-top: 1px solid #aaa;

      tr {
        height: 50px;
        border-bottom: 1px solid #aaa;
      }

      th {
        background-color: #efefef;
        width: 160px;
      }

      td {
        padding: 0 20px;
      }
    }

    input,
    select {
      border: 1px solid #aaa;
      height: 30px;

      &:focus {
        outline: none;
      }
    }
  }
}

.bd_blue {
  border: 1px solid #008ec2;
  color: #008ec2;
}

.signin {
  text-align: center;
  margin-bottom: 40px;

  >div {
    margin-bottom: 20px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 197px;
      height: 366px;
      position: absolute;
      left: 263px;
      bottom: 0;
      background: url(../images/login_robot.png) no-repeat 0 0;
    }
  }

  >span {
    display: block;

    &:first-of-type {
      margin-bottom: 5px;
    }
  }
}

.boardwrap {
  border-top: 2px solid #7aa0ff;
  font-family: 'one';
}
.ta_l {
  text-align: left !important;
}
.nbt {
  border-top: none;
}
.nmb {
  margin-bottom: 0 !important;
}
.board_list {
  margin-bottom: 60px;

  &.withimg {
    >li {
      border-bottom: 1px solid #ccc;

      a {
        padding: 15px 20px;
        display: flex;
        flex-wrap: nowrap;

        .thumbs {
          min-width: 240px;
          margin-right: 20px;
        }

        .list_desc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-shrink: 0;
          flex-grow: 1;
          width: 50%;

          dl {
            dt {
              font-weight: 600;
              font-size: 22px;
              margin-bottom: 10px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;

            }

            dd {
              font-size: 15px;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              /* 라인수 */
              -webkit-box-orient: vertical;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }

  &.tablever {

    &.th6 {
      .ul_tb { 
          >li {
            width: 140px;
            &:nth-child(2) {
              width: 600px;
            }
          }
        
      }
    }
    >li {
      border-bottom: 1px solid #ccc;

      a {
        &:hover {
            background-color: #f9f9f9;
        }
      }

      .ul_tb {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        
        >li {
          padding: 20px 0;
          text-align: center;
          width: 130px;
          font-size: 14px;

          &:nth-child(2) {
            padding: 20px;
            width: 500px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          &.tb_h {
            > li {
              flex: auto;
              font-size: 15px;
              font-weight: 600 !important;
            }
          }
  

        }
      }

    }
  }

  &.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      display: none;
    }
    > li {
      width: 23%;
      max-width: 290px;
      margin-bottom: 3%;
      overflow: hidden;

      @include maxWidth(720px) {
          width: 48.5%;
      }
      
      a {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .about {
          opacity: 0;
          transition: all .3s;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0,0,0,0.5);
          color: #fff;
          text-align: center;
          padding-top: 30%;

          &:hover {
            opacity: 1;
          }

          img {
            margin-bottom: 40px;
          }
          dl {
            dt {
              margin-bottom: 50px; 
              font-size: 18px;
            }
            dd {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.desc_smy {
  padding: 20px 0;
  p {
    display: -webkit-box;
    max-width: 100%;
    width: 1270px;
    padding: 0 148px;
    font-size: 14px;
    font-weight: 400;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.board_util {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-shrink: 0;

  &.mb_10 {
    margin-bottom: 10px;
  }

  .board_input {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;

    select, input {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 14px;

    }
    select {
      width: 180px;
      margin-right: 10px;
      background: url(../images/website_arrow_down.png) no-repeat 155px center;
    }
    input {
      width: 290px;
      background: url(../images/btn_search.png) no-repeat 260px center;
    }
  }

  >p {
    flex-shrink: 0;
  }
}

.board_tag {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 15px;
  flex-shrink: 0;

  >li {
    padding: 2px 20px;
    font-size: 10.5px;
    border: 1px solid #666;
    border-radius: 30px;
    margin: 2px 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list_desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.inview {
    padding-left: 40px;
    border-bottom: 1px solid #ccc;
    
    dl {
      margin-bottom: 30px;

      dt {
        margin-bottom: 30px;
      }
      dd {
        max-width: fit-content;
        padding-right: 20px;
        text-overflow: unset;
        -webkit-line-clamp: unset;
        line-height: 23px;
      }
      span {
        display: inline-block;
        border-bottom: 1px solid #bcbcbc;
        margin-left: 15px;
        line-height: 14px;
      }
    }

    .board_util {
    margin-bottom: 40px;
    }
  }

  dl {
    dt {
      max-width: 980px;
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

    }

    dd {
      max-width: 980px;
      font-size: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
    }
  }
}
.videowrap {
  padding: 60px 100px;
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;

  >a {
    width: 31px;
    height: 26px;
    display: inline-block;
    min-width: 15px;

    &.first_page {
      background: url(../images/btn_first_page.png) no-repeat center center/contain;
      margin-right: 40px;
    }

    &.prev_page {
      background: url(../images/btn_prev_page.png) no-repeat center center/contain;
      margin-right: 40px;
    }

    &.next_page {
      background: url(../images/btn_next_page.png) no-repeat center center/contain;
      margin-left: 40px;
    }

    &.last_page {
      background: url(../images/btn_last_page.png) no-repeat center center/contain;
      margin-left: 40px;
    }

  }

  ul {
    display: flex;
    flex-wrap: nowrap;

    >li {
      margin-right: 15px;
      width: 45px;
      height: 50px;
      line-height: 50px;

      a {
        text-align: center;
        font-size: 15px;
        border: 2px solid transparent;

        &.active {
          color: #003668;
          border: 2px solid #003668 ;
          border-radius: 5px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/* board_view */
.board_view {
  margin-bottom: 40px;
}

.view_top {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.view_title {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  dt {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
  }
  dd {
    font-size: 14.5px;
    span {
      &::after {
        content: '';
        display: inline-block;
        width: 2px;
        height: 14px;
        background-color: #a0a0a0;
        margin: 0 10px;
        vertical-align: middle;
      }
      &:last-of-type{
        &::after {
          display: none;
        }
      }
    }
  }

}
.bookprofile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  .profile_l {
    flex-basis: 30%;
    max-width: 360px;
    margin-right: 4%;
  }

  .profile_r {
    flex-basis: 66%;
    min-width: 0;
    .pf_tit {
      padding: 30px;
      border: 1px solid #e5e5e5;
      background: #f9f9f9;

      p {
        display: -webkit-box;
        max-width: 840px;
        font-size: 29px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-break: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    dl {
      border-bottom: 1px solid #999;
      padding: 20px 0;
      display: flex;
      flex-wrap: nowrap ;

      &:last-of-type {
        margin-bottom: 65px;
      }
      dt {
        width: 23%;
        flex-basis: 23%;
        min-width: 110px;
        padding-left: 30px;
      }
      dd{
        padding: 0 30px;
        width: 50%;
        flex-grow: 1;
        a{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;}
      }
    }
  }
}

.util_btn_list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 30px;
  flex: none;
  margin-left: 10px;

  li {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.view_con {
  article {
    padding: 20px;
    font-size: 15px;

    dl {
      margin-bottom: 40px;
    }
    .arti_tit {
      display: block;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  &.needtab {
    .tab_list {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 30px;
      
      li {
        cursor: pointer;
        border: 1px solid #aaa;
        border-radius: 50px;
        padding: 15px 45px;
        font-size: 17px;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        &.on {
          border-color: transparent;
          background-color: #558dff;
          color: #fff;
        }
      }
    }

    .tab_viewport {
      overflow: hidden;

      .tab_con_list {
        width: calc(100% * 3 );
        display: flex;
        flex-wrap: nowrap;
        .con_con {
          width: calc(100% / 3);
          display: none;
          border-bottom: 1px solid #999;

          &.on {
            display: block;
          }

          .con_top {
            padding: 30px 0;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;

            dl {
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
              
              dt {
                font-size: 23px;
              }
              dd {
                font-size: 14px;

                &:first-of-type {
                  margin-left: auto;
                }
                &:first-of-type::before {
                  display: none;
                }
                &::before {
                  content: '';
                  display: inline-block;
                  width: 1px;
                  height: 13px;
                  background-color: #999;
                  margin: 0 10px;
                  position: relative;
                  top: 2px;


                }
              }
            }

          }

          .con_mid {
            padding: 30px 0;

            .imgwrap {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}

.view_util {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 13px;

  .util_list {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    
    li {
      height: 50px;
      line-height: 50px;
      margin-left: 20px;

      &:last-child {
        margin-left: auto;
        margin-right: 20px;
      }
    }
    &.filedown {
      li {
        margin-left: 0;

        &:first-child {
          width: 12.5%;
          background-color: #ddd;
        }
        &:last-child {
          margin-left: auto;
          
        }
  
        a {
          padding-left: 20px;
          img {
            vertical-align: middle;
            margin-right: 20px;
          }
        }
      }

    }
  }
}

.starscoring {
  width: 120px;
  padding: 15px 0;

  form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;

    input {
      display: none;

      &:checked ~ label {
        background: url(../images/full_star.png) no-repeat center center;
      }
    }
    label {
      transition: all .3s;
      width: 20px;
      height: 20px;
      background: url(../images/empty_star.png) no-repeat center center;
      cursor: pointer;

      &:hover,
      &:hover ~ label {
        background: url(../images/full_star.png) no-repeat center center;
      }
    }
    
  }
}
.faqwrap {
  margin-bottom: 60px;
}
.faqna {
  >li {
    display: block;

    >div {
      display: block;
      padding: 0 20px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      
      &.qline {

        &.opened {
          p {
            &::after {
              background: url(../images/btn_minus.png) no-repeat center center;}
          }

        }
        p{
          &::before {
            content: 'Q';
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            background-color: #ff715a;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            font-family: 'one';
            font-size: 15px;
            font-weight: 700;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
          &::after {
            content: '';
            display: block;
            background: url(../images/btn_plus.png) no-repeat center center;
            width: 19px;
            height: 19px;
            line-height: 30px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
      &.aline {
        display: none;
        p{
          line-height: 1.5;
          &::before {
            content: 'A';
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            background-color: #0082c6;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            font-family: 'one';
            font-size: 15px;
            font-weight: 700;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

          }
        }
      }

      > p {
        margin: auto;
        max-width: 1270px;
        padding: 16px 45px;
        position: relative;

      }


    }
  }
}

/* 문의사항 */
.needflex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.priv_check {
  flex: none;
  margin-right: 20px;
  &.locked {
    .o {
      display: block;
    }
    .x {
      display: none;
    }
  }  
  &.unlocked {
    .o {
      display: none;
    }
    .x {
      display: block;
    }
  }
}

.qna_tit {
  flex-grow: 1;
  p {
    margin-bottom: 10px;
  }
}
/* 작업게시판 */
.brdicn {
  position: relative;
  top: -3px;

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 28px;
    height: 20px;
    margin-right: 10px;
    top: 5px;
  }
  &.reply::before {
    background: url(../images/icn_reply.png) no-repeat center center/contain;
  }

  &.recom::before {
    background: url(../images/icn_recom.png) no-repeat center center/contain;
  }
}



/* 마이페이지 */

.pj_tag {
  display: inline-block;
  min-width: 90px;
  padding: 7px 0;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #000;

  &.ing {
    border-color: #2c9eff;
  }
  &.yet {
    border-color: #00cad7;
  }
  &.comp {
    border-color: #ff6565;
  }
}

.btn_modi {
  width: 90px;
  padding: 7px 0;
  background-color: #ff7474;
  color: #fff;
  border-radius: 30px;
}